.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 80px 80px 0 100px;
}

.cart-container {
    background-color: #FFE0B3;

}